@tailwind base;
@tailwind components;
@tailwind utilities;

/* シンプルに白背景と黒文字を直接指定 */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: #171717;
  background: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}
